<h1>
  <a routerLink="/">Board shelf</a>
</h1>
<nav>
  <ul class="nav-list">
    <li><a routerLink="/library" routerLinkActive="active">Library</a></li>
    <li><a routerLink="/game-picker" routerLinkActive="active">Game Picker</a></li>
    <li><a routerLink="/add-game" routerLinkActive="active">Add Game</a></li>
  </ul>
</nav>
<div class="login">
  @if (!authService.currentUser()) {
    <button (click)="authService.loginWithGoogle()">Entrar com Google</button>
  } @else {
    <span>Olá, {{ authService.currentUser()?.displayName }}</span>
    <button (click)="authService.logout()">Sair</button>
  }
</div>
