<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/library" routerLinkActive="active">Library</a></li>
      <li><a routerLink="/game-picker" routerLinkActive="active">Game Picker</a></li>
      <li><a routerLink="/game-detail" routerLinkActive="active">Game Detail</a></li>
      <li><a routerLink="/add-game" routerLinkActive="active">Add Game</a></li>
    </ul>
  </nav>
</header>
