:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #f5a623;
  --secondary-color: #1b263b;
  --tertiary-color: #3ac2ff;
  --neutral-color: #0d1b2a;
  --text-color: #94a3b8;
  --text-color-secondary: #d7c3ae;
}
